:root {
  --primary-color: #53035a;
  --secondary-color: #ef6fe9;
  --accent-color: #a36993;
  --text-color: #070707;
  --light-color: #f8f9fa;
  --dark-color: #343a40;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }

  body {
    font-size: 1.6rem;
    color: var(--text-color);
    font-family: "Lora", cursive;
    border: 0.1rem solid var(--primary-color);
  }
  a {
    text-decoration: none;
  }
  ul,
  ol {
    list-style: none;
  }
}
